body {
  font-family: "Roboto Condensed", sans-serif;
  margin: 0;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 25%;
  background-color: #787871;
  height: 1px;
}

html {
  scroll-behavior: smooth;
}
/*==================================NAVIGATION SECTION================================*/
.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: fixed;
  z-index: 1;
}

.navbar-nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #f0f0f0;
  padding: 10px;
}

nav ul {
  list-style: none;
  padding: 0px;
  margin: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #000;
}

nav a:hover {
  color: #000;
  border-bottom: #fcc918 4px solid;
  transition: 0.2s;
}

/*================================END NAVIGATION SECTION==========================================*/
/*==================================HEADER SECTION================================================*/
.name {
  font-family: "Adamina";
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 50px;
  padding: 30px;
  margin: 10px;
  float: right;
  margin-top: -50px;
  display: inline;
}

.name {
  animation: bounce-in-right 1.1s both;
}

@keyframes bounce-in-right {
  0% {
    transform: translateX(600px);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  38% {
    transform: translateX(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }

  55% {
    transform: translateX(68px);
    animation-timing-function: ease-in;
  }

  72% {
    transform: translateX(0);
    animation-timing-function: ease-out;
  }

  81% {
    transform: translateX(32px);
    animation-timing-function: ease-in;
  }

  90% {
    transform: translateX(0);
    animation-timing-function: ease-out;
  }

  95% {
    transform: translateX(8px);
    animation-timing-function: ease-in;
  }

  100% {
    transform: translateX(0);
    animation-timing-function: ease-out;
  }
}

/*==============================PROFILE SECTION=========================*/
.profile-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50%;
  text-align: justify;
}
.profile-info h2 {
  color: black;
  font-weight: bolder;
  font-size: 20px;
}
.profile-info h3 {
  font-size: 18px;
}

.profile-pic {
  outline: 3px solid #000;
  outline-offset: -100px;
  border: 10px solid transparent;
  border-width: 120px 50px 50px 120px;
  width: 250px;
  z-index: -1;
}

img {
  width: 250px;
  position: relative;
  z-index: 0;
}
/*=============================================END PROFILE SECTION==================================*/
/*==================================================MAIN SECTION=====================================*/

.experience-section {
  background-color: #000;
  color: #fff;
  text-align: justify;
  margin-left: 10px;
  padding-left: 30px;
  line-height: 1.5;
}
.experience-section h2 {
  color: #000;
  margin-left: 100px;
  background-color: #fff;
  border-radius: 20px;
  text-transform: uppercase;
}

ul li {
  list-style: square;
  padding: 0px;
  padding-bottom: 10px;
  margin: 0px;
}

.education-section {
  text-align: justify;
}
.education-section h2 {
  color: #fff;
  margin-left: 100px;
  text-transform: uppercase;
  background-color: #000;
}
/*===================================SKILLS CONTAINER===================================*/

.skills-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #000;
  border: #000 1px solid;
}
.skills-section h2 {
  margin-top: -10px;
  margin-left: 100px;
  color: #000;
  background-color: #fff;
  border-radius: 20px;
  text-transform: uppercase;
}
.customer-service-skill {
  width: 90%;
}

.complaints-resolution-skill {
  width: 80%;
}

.communication-skill {
  width: 95%;
}

.decision-making-skill {
  width: 85%;
}

.multitasking-skill {
  width: 75%;
}

.skill {
  background-color: #fcc918;
}
.container {
  color: #000;
  width: 40%;
  background-color: #ddd;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 15px;
}
.software-skills {
  margin-left: 80px;
  position: relative;
  left: 200%;
  top: -200%;
  color: #fff;
  border: #fcc918 2px solid;
  border-radius: 32px 60px;
  font-size: larger;
}
.software-skills h3 {
  font-size: 20px;
  text-transform: uppercase;
}

/*================================END SKILLS STYLING==================================*/
/*==============================================END MAIN SECTION=================================================*/
/*==============================================-----------------================================================*/

/*==============================================FOOTER SECTION=================================================*/

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto;
  gap: 1rem;
  padding: 2rem;
  background-color: #333;
  color: white;
}

.footer-column {
  margin-bottom: 1rem;
}

.footer-column h3 {
  margin-bottom: 0.5rem;
}

.footer-column {
  margin-bottom: 1rem;
}

.footer-column h3 {
  margin-bottom: 0.5rem;
}
main {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-form input,
textarea {
  background-color: #333;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fcc918;
  padding: 5px;
}
.contact-form h2 {
  color: #333;
}
.contact-info h2 {
  color: #333;
}
.contact-info p {
  font-size: 15px;
}
.socials h2 {
  color: #333;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.5;
}

.fa-facebook {
  color: #fff;
}

.fa-github {
  color: #ffff;
}
.fa-linkedin {
  color: #fff;
}

section {
  padding: 20px;
}

h2 {
  text-align: center;
  padding: 10px;
  margin: 0px;
  background-color: #fcc918;
  width: 50%;
}

.contact-form input,
textarea {
  width: 250px;
}

.contact-form button {
  background-color: #333;
  color: #fcc918;
  border: 1px solid #fcc918;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: uppercase;
}

.contact-form button:hover {
  background-color: #fcc918;
  color: #333;
  border: 1px solid #333;
}
/*=====================================END FOOTER==============================*/
/*-------------------------------------------
----------------------------------
STYLING FOR SMALL DEVICES (MOBILE DEVICES)
----------------------------------
------------------------------------------*/
@media only screen and (max-width: 600px) and (min-width: 320px) {
  header {
    font-size: 15px;
  }

  h2,h3 {
    font-size: 15px;
    text-align: center;
    width: 90%;
    margin: auto;
  }

  h4 {
    font-size: 15px;
    text-align: center;
    font-weight: lighter;
  }

  footer {
    grid-template-columns: 1fr;
    width: 100%;
  }

  section {
    padding: 40px;
    width: 100%;
  }

  #name {
    /* font-size: 25px; */
    font-weight: bolder;
    padding: 0px;
    margin: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
  }

  img {
    /* margin-left: 0px; */
    /* width: 200px;
    height: 200px; */
    position: relative;
  }

  .profile-info h3 {
    text-align: center;
    /* width: 50%; */
  }

  .profile-info {
    width: 100%;
    /* padding-left: 50px; */
    padding-right: 50px;
    display: grid;
    grid-template-columns: 1fr;
  }

  main {
    display: grid;
    grid-template-columns: 1fr;
  }

  .experience-section {
    /* padding-left: 50px; */
    border-right: none;
    width: 100%;
  }

  .education-section {
    padding-right: 0px;
    margin-right: 0px;
    border-left: none;
    margin-left: 10px;
    padding-left: 30px;
  }

  .skills-section {
    background-color: white;
    grid-template-columns: 1fr;
    text-align: center;
  }

  .skills-section div {
    text-align: center;
  }

  .skills-section div .container {
    margin-left: 110px;
  }

  .skills-section ul {
    list-style: none;
    text-align: center;
  }

  .references {
    text-align: center;
  }

  .footer-column {
    text-align: center;
  }
}

/*===============================END OF MOBILE STYLING================================*/

/*-------------------------------------------
----------------------------------
=======================================STYLING FOR MEDIUM DEVICES (TABLETS)===================
----------------------------------
------------------------------------------*/
@media only screen and (max-width: 768px) and (min-width: 600px) {

header {
  font-size: 15px;
}

h2,
h3 {
  font-size: 15px;
  text-align: center;
  width: 90%;
  margin: auto;
}

h4 {
  font-size: 15px;
  text-align: center;
  font-weight: lighter;
}

footer {
  grid-template-columns: 1fr;
  width: 100%;
}
}
@media only screen and (min-width: 768px) {
  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;

    background-color: #000;
    color: white;
  }

  .profile-pic {
    outline: 3px solid #fcc918;
    outline-offset: -100px;
    border: 10px solid transparent;
    border-width: 120px 50px 50px 120px;
    width: 400px;
    z-index: 0;
  }

  img {
    width: 400px;
    position: relative;
  }

  .profile-info {
    width: 80%;
    margin-top: 150px;
    text-align: center;
    padding-right: 100px;
  }

  #name {
    text-align: center;
    padding: 0px;
    margin: 0px;
  }

  .profile-info h2 {
    text-align: center;
    width: 50%;
    margin-left: 150px;
  }

  .profile-info h3 {
    text-align: center;
    font-weight: lighter;
  }

  .profile-info br {
    display: none;
  }

  main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
  }

  section h2 {
    text-align: center;
    margin-bottom: 10px;
    margin-left: 100px;
  }

  section {
    border: 1px solid #ccc;
    padding: 50px;
    border-radius: 5px;
  }

  .experience-section,
  h2,
  h3,
  h4 {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }

  .education-section {
    text-align: center;
  }

  .skills-section h2 {
    text-align: center;
    margin-bottom: 10px;
  }

  .skills-section {
    display: flex;
    flex-direction: column;
    background-color: #000;
    border-radius: 70px 32px;
    color: #fff;
    text-align: justify;
    padding-left: 30px;
  }

  .skills-section div {
    text-align: center;
  }

  .skills-section div .container {
    margin-left: 150px;
  }

  .skills-section hr {
    display: none;
  }

  .skills-section ul {
    list-style: none;
    text-align: center;
  }

  .footer-column {
    text-align: center;
  }

  .footer-column h2 {
    margin-left: 110px;
  }
}
